{% extends "base.html" %}

{% block title %}Boggle - Let's Play!{% endblock %}

{% block content %}
<h1>Boggle</h1>
<section class="horizontal">
    <div id="board" class="vertical">
        {% for row in board %}
        <div class="row horizontal">
            {% for letter in row %}
            <div class="cell">{{letter}}</div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div id="display" class="vertical">
        <div id="word-form">
            <h3>Find a word? Submit your guess!</h3>
            <!-- <form method="POST">  -->
            <form id="submit-word">
                <input type="text" placeholder="word" id="guess" name="guess">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div id="message"></div>
    </div>
</section>
{% endblock %}