{% extends "base.html" %}

{% block title %}Boggle - Let's Play!{% endblock %}

{% block content %}
<h1>Boggle</h1>
<section class="horizontal">
    <div id="game" class="vertical">
        <div id="board" class="vertical">
            {% for row in board %}
            <div class="row horizontal">
                {% for letter in row %}
                <div class="cell">{{letter}}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div id="word-form" class="display-font-size">
            <h3>Find a word? Submit your guess!</h3>
            <form id="submit-word">
                <input type="text" placeholder="word" id="guess" name="guess">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div id="display" class="vertical">
        <div id="game-status" class="display-font-size horizontal">
            <button type="button" id="start-new-game">Start New Game</button>
            <div class="left-margin"><strong>Time Remaining:</strong></div>
            <div id="timer"></div>
        </div>        
        <div id="message" class="display-margin"></div>
        <div id="scores" class="horizontal display-margin display-font-size">
            <div><strong>High Score:</strong></div> 
            <div id="high_score">{{high_score}}</div>
            <div><strong>Games Played:</strong></div>  
            <div id="num_games">{{num_games}}</div>
        </div>
        <div class="horizontal display-margin display-font-size">
            <div><strong>Current Score:</strong></div>  
            <div id="curr_score">0</div>
        </div>
                
        <div id="word-list" class="vertical display-margin display-font-size">
            <div><strong>Words Found</strong></div>
            <div id="words" class="horizontal display-margin">
                <!-- List of words goes here -->
            </div>
        </div>
    </div>
</section>
{% endblock %}